[data-framer-name="Navbar"],
[data-framer-name="Navbar"] *,
div[name="Navbar"] {
    display: none !important;
}

/* latin-ext */
@font-face {
    font-family: 'Redacted';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/redacted/v11/Z9XVDmdRShme2O_7aLTX6Oy0lw.woff2) format('woff2');
    unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
    font-family: 'Redacted';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/redacted/v11/Z9XVDmdRShme2O_7aLTZ6Ow.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: "Rouben Extra Bold";
    src: url("https://framerusercontent.com/assets/uhc7xn9piY1RMYqFdWWGj4HOHfc.woff2");
    font-display: swap;
    font-style: normal;
    font-weight: 800
}

@font-face {
    font-family: "Rouben Bold";
    src: url("https://framerusercontent.com/assets/7gb4S53Bg4TlflbqiL9Qv1o7V2k.woff2");
    font-display: swap;
    font-style: normal;
    font-weight: 700
}

@font-face {
    font-family: "Rouben Medium";
    src: url("https://framerusercontent.com/assets/alYVQzpPTShWKydT3wQRGHfQ8.woff2");
    font-display: swap
}

@font-face {
    font-family: "Rouben Semi Bold";
    src: url("https://framerusercontent.com/assets/jFOpTUAtOThyJgjFYKXRjKaNN1U.woff2");
    font-display: swap
}

@font-face {
    font-family: "Rouben Medium";
    src: url("https://framerusercontent.com/assets/alYVQzpPTShWKydT3wQRGHfQ8.woff2");
    font-display: swap;
    font-style: normal;
    font-weight: 500
}

@font-face {
    font-family: "Rouben Semi Bold";
    src: url("https://framerusercontent.com/assets/jFOpTUAtOThyJgjFYKXRjKaNN1U.woff2");
    font-display: swap;
    font-style: normal;
    font-weight: 600
}

@font-face {
    font-family: "Rouben Regular";
    src: url("https://framerusercontent.com/assets/Jnt0rASkmyNWEVlTer1jLJOlkE.woff2");
    font-display: swap;
    font-style: normal;
    font-weight: 400
}

@font-face {
    font-family: "Rouben Regular";
    src: url("https://framerusercontent.com/assets/Jnt0rASkmyNWEVlTer1jLJOlkE.woff2");
    font-display: swap
}

@font-face {
    font-family: "Rouben Bold";
    src: url("https://framerusercontent.com/assets/7gb4S53Bg4TlflbqiL9Qv1o7V2k.woff2");
    font-display: swap
}

@font-face {
    font-family: "Inter";
    src: url("https://framerusercontent.com/assets/5A3Ce6C9YYmCjpQx9M4inSaKU.woff2");
    font-display: swap;
    font-style: normal;
    font-weight: 500;
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F
}

@font-face {
    font-family: "Inter";
    src: url("https://framerusercontent.com/assets/Qx95Xyt0Ka3SGhinnbXIGpEIyP4.woff2");
    font-display: swap;
    font-style: normal;
    font-weight: 500;
    unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116
}

@font-face {
    font-family: "Inter";
    src: url("https://framerusercontent.com/assets/6mJuEAguuIuMog10gGvH5d3cl8.woff2");
    font-display: swap;
    font-style: normal;
    font-weight: 500;
    unicode-range: U+1F00-1FFF
}

@font-face {
    font-family: "Inter";
    src: url("https://framerusercontent.com/assets/xYYWaj7wCU5zSQH0eXvSaS19wo.woff2");
    font-display: swap;
    font-style: normal;
    font-weight: 500;
    unicode-range: U+0370-03FF
}

@font-face {
    font-family: "Inter";
    src: url("https://framerusercontent.com/assets/otTaNuNpVK4RbdlT7zDDdKvQBA.woff2");
    font-display: swap;
    font-style: normal;
    font-weight: 500;
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF
}

@font-face {
    font-family: "Inter";
    src: url("https://framerusercontent.com/assets/UjlFhCnUjxhNfep4oYBPqnEssyo.woff2");
    font-display: swap;
    font-style: normal;
    font-weight: 500;
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2070, U+2074-207E, U+2080-208E, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD
}

@font-face {
    font-family: "Inter";
    src: url("https://framerusercontent.com/assets/DolVirEGb34pEXEp8t8FQBSK4.woff2");
    font-display: swap;
    font-style: normal;
    font-weight: 500;
    unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB
}

@font-face {
    font-family: "Inter";
    src: url("https://framerusercontent.com/assets/hyOgCu0Xnghbimh0pE8QTvtt2AU.woff2");
    font-display: swap;
    font-style: normal;
    font-weight: 600;
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F
}

@font-face {
    font-family: "Inter";
    src: url("https://framerusercontent.com/assets/NeGmSOXrPBfEFIy5YZeHq17LEDA.woff2");
    font-display: swap;
    font-style: normal;
    font-weight: 600;
    unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116
}

@font-face {
    font-family: "Inter";
    src: url("https://framerusercontent.com/assets/oYaAX5himiTPYuN8vLWnqBbfD2s.woff2");
    font-display: swap;
    font-style: normal;
    font-weight: 600;
    unicode-range: U+1F00-1FFF
}

@font-face {
    font-family: "Inter";
    src: url("https://framerusercontent.com/assets/lEJLP4R0yuCaMCjSXYHtJw72M.woff2");
    font-display: swap;
    font-style: normal;
    font-weight: 600;
    unicode-range: U+0370-03FF
}

@font-face {
    font-family: "Inter";
    src: url("https://framerusercontent.com/assets/cRJyLNuTJR5jbyKzGi33wU9cqIQ.woff2");
    font-display: swap;
    font-style: normal;
    font-weight: 600;
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF
}

@font-face {
    font-family: "Inter";
    src: url("https://framerusercontent.com/assets/yDtI2UI8XcEg1W2je9XPN3Noo.woff2");
    font-display: swap;
    font-style: normal;
    font-weight: 600;
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2070, U+2074-207E, U+2080-208E, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD
}

@font-face {
    font-family: "Inter";
    src: url("https://framerusercontent.com/assets/A0Wcc7NgXMjUuFdquHDrIZpzZw0.woff2");
    font-display: swap;
    font-style: normal;
    font-weight: 600;
    unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB
}

@font-face {
    font-family: "Inter";
    src: url("https://framerusercontent.com/assets/5vvr9Vy74if2I6bQbJvbw7SY1pQ.woff2");
    font-display: swap;
    font-style: normal;
    font-weight: 400;
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F
}

@font-face {
    font-family: "Inter";
    src: url("https://framerusercontent.com/assets/EOr0mi4hNtlgWNn9if640EZzXCo.woff2");
    font-display: swap;
    font-style: normal;
    font-weight: 400;
    unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116
}

@font-face {
    font-family: "Inter";
    src: url("https://framerusercontent.com/assets/Y9k9QrlZAqio88Klkmbd8VoMQc.woff2");
    font-display: swap;
    font-style: normal;
    font-weight: 400;
    unicode-range: U+1F00-1FFF
}

@font-face {
    font-family: "Inter";
    src: url("https://framerusercontent.com/assets/OYrD2tBIBPvoJXiIHnLoOXnY9M.woff2");
    font-display: swap;
    font-style: normal;
    font-weight: 400;
    unicode-range: U+0370-03FF
}

@font-face {
    font-family: "Inter";
    src: url("https://framerusercontent.com/assets/JeYwfuaPfZHQhEG8U5gtPDZ7WQ.woff2");
    font-display: swap;
    font-style: normal;
    font-weight: 400;
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF
}

@font-face {
    font-family: "Inter";
    src: url("https://framerusercontent.com/assets/GrgcKwrN6d3Uz8EwcLHZxwEfC4.woff2");
    font-display: swap;
    font-style: normal;
    font-weight: 400;
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2070, U+2074-207E, U+2080-208E, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD
}

@font-face {
    font-family: "Inter";
    src: url("https://framerusercontent.com/assets/b6Y37FthZeALduNqHicBT6FutY.woff2");
    font-display: swap;
    font-style: normal;
    font-weight: 400;
    unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB
}

@font-face {
    font-family: "Inter Variable";
    src: url("https://framerusercontent.com/assets/mYcqTSergLb16PdbJJQMl9ebYm4.woff2");
    font-display: swap;
    font-style: normal;
    font-weight: 400;
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F
}

@font-face {
    font-family: "Inter Variable";
    src: url("https://framerusercontent.com/assets/ZRl8AlxwsX1m7xS1eJCiSPbztg.woff2");
    font-display: swap;
    font-style: normal;
    font-weight: 400;
    unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116
}

@font-face {
    font-family: "Inter Variable";
    src: url("https://framerusercontent.com/assets/nhSQpBRqFmXNUBY2p5SENQ8NplQ.woff2");
    font-display: swap;
    font-style: normal;
    font-weight: 400;
    unicode-range: U+1F00-1FFF
}

@font-face {
    font-family: "Inter Variable";
    src: url("https://framerusercontent.com/assets/DYHjxG0qXjopUuruoacfl5SA.woff2");
    font-display: swap;
    font-style: normal;
    font-weight: 400;
    unicode-range: U+0370-03FF
}

@font-face {
    font-family: "Inter Variable";
    src: url("https://framerusercontent.com/assets/s7NH6sl7w4NU984r5hcmo1tPSYo.woff2");
    font-display: swap;
    font-style: normal;
    font-weight: 400;
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF
}

@font-face {
    font-family: "Inter Variable";
    src: url("https://framerusercontent.com/assets/7lw0VWkeXrGYJT05oB3DsFy8BaY.woff2");
    font-display: swap;
    font-style: normal;
    font-weight: 400;
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2070, U+2074-207E, U+2080-208E, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD
}

@font-face {
    font-family: "Inter Variable";
    src: url("https://framerusercontent.com/assets/wx5nfqEgOXnxuFaxB0Mn9OhmcZA.woff2");
    font-display: swap;
    font-style: normal;
    font-weight: 400;
    unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB
}

@font-face {
    font-family: "Inter";
    src: url("https://framerusercontent.com/assets/DpPBYI0sL4fYLgAkX8KXOPVt7c.woff2");
    font-display: swap;
    font-style: normal;
    font-weight: 700;
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F
}

@font-face {
    font-family: "Inter";
    src: url("https://framerusercontent.com/assets/4RAEQdEOrcnDkhHiiCbJOw92Lk.woff2");
    font-display: swap;
    font-style: normal;
    font-weight: 700;
    unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116
}

@font-face {
    font-family: "Inter";
    src: url("https://framerusercontent.com/assets/1K3W8DizY3v4emK8Mb08YHxTbs.woff2");
    font-display: swap;
    font-style: normal;
    font-weight: 700;
    unicode-range: U+1F00-1FFF
}

@font-face {
    font-family: "Inter";
    src: url("https://framerusercontent.com/assets/tUSCtfYVM1I1IchuyCwz9gDdQ.woff2");
    font-display: swap;
    font-style: normal;
    font-weight: 700;
    unicode-range: U+0370-03FF
}

@font-face {
    font-family: "Inter";
    src: url("https://framerusercontent.com/assets/VgYFWiwsAC5OYxAycRXXvhze58.woff2");
    font-display: swap;
    font-style: normal;
    font-weight: 700;
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF
}

@font-face {
    font-family: "Inter";
    src: url("https://framerusercontent.com/assets/syRNPWzAMIrcJ3wIlPIP43KjQs.woff2");
    font-display: swap;
    font-style: normal;
    font-weight: 700;
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2070, U+2074-207E, U+2080-208E, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD
}

@font-face {
    font-family: "Inter";
    src: url("https://framerusercontent.com/assets/GIryZETIX4IFypco5pYZONKhJIo.woff2");
    font-display: swap;
    font-style: normal;
    font-weight: 700;
    unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB
}

@font-face {
    font-family: "Inter";
    src: url("https://framerusercontent.com/assets/mkY5Sgyq51ik0AMrSBwhm9DJg.woff2");
    font-style: normal;
    font-weight: 900;
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F
}

@font-face {
    font-family: "Inter";
    src: url("https://framerusercontent.com/assets/X5hj6qzcHUYv7h1390c8Rhm6550.woff2");
    font-style: normal;
    font-weight: 900;
    unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116
}

@font-face {
    font-family: "Inter Display";
    src: url("https://framerusercontent.com/assets/gazZKZuUEtvr9ULhdA4SprP0AZ0.woff2");
    font-display: swap;
    font-style: normal;
    font-weight: 600;
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F
}

@font-face {
    font-family: "Inter Display";
    src: url("https://framerusercontent.com/assets/pe8RoujoPxuTZhqoNzYqHX2MXA.woff2");
    font-display: swap;
    font-style: normal;
    font-weight: 600;
    unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116
}

@font-face {
    font-family: "Inter Display";
    src: url("https://framerusercontent.com/assets/teGhWnhH3bCqefKGsIsqFy3hK8.woff2");
    font-display: swap;
    font-style: normal;
    font-weight: 600;
    unicode-range: U+1F00-1FFF
}

@font-face {
    font-family: "Inter Display";
    src: url("https://framerusercontent.com/assets/qQHxgTnEk6Czu1yW4xS82HQWFOk.woff2");
    font-display: swap;
    font-style: normal;
    font-weight: 600;
    unicode-range: U+0370-03FF
}

@font-face {
    font-family: "Inter Display";
    src: url("https://framerusercontent.com/assets/MJ3N6lfN4iP5Um8rJGqLYl03tE.woff2");
    font-display: swap;
    font-style: normal;
    font-weight: 600;
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF
}

@font-face {
    font-family: "Inter Display";
    src: url("https://framerusercontent.com/assets/PfdOpgzFf7N2Uye9JX7xRKYTgSc.woff2");
    font-display: swap;
    font-style: normal;
    font-weight: 600;
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2070, U+2074-207E, U+2080-208E, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD
}

@font-face {
    font-family: "Inter Display";
    src: url("https://framerusercontent.com/assets/0SEEmmWc3vovhaai4RlRQSWRrz0.woff2");
    font-display: swap;
    font-style: normal;
    font-weight: 600;
    unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB
}

@font-face {
    font-family: "Inter Display";
    src: url("https://framerusercontent.com/assets/I11LrmuBDQZweplJ62KkVsklU5Y.woff2");
    font-display: swap;
    font-style: normal;
    font-weight: 700;
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F
}

@font-face {
    font-family: "Inter Display";
    src: url("https://framerusercontent.com/assets/UjFZPDy3qGuDktQM4q9CxhKfIa8.woff2");
    font-display: swap;
    font-style: normal;
    font-weight: 700;
    unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116
}

@font-face {
    font-family: "Inter Display";
    src: url("https://framerusercontent.com/assets/8exwVHJy2DhJ4N5prYlVMrEKmQ.woff2");
    font-display: swap;
    font-style: normal;
    font-weight: 700;
    unicode-range: U+1F00-1FFF
}

@font-face {
    font-family: "Inter Display";
    src: url("https://framerusercontent.com/assets/UTeedEK21hO5jDxEUldzdScUqpg.woff2");
    font-display: swap;
    font-style: normal;
    font-weight: 700;
    unicode-range: U+0370-03FF
}

@font-face {
    font-family: "Inter Display";
    src: url("https://framerusercontent.com/assets/Ig8B8nzy11hzIWEIYnkg91sofjo.woff2");
    font-display: swap;
    font-style: normal;
    font-weight: 700;
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF
}

@font-face {
    font-family: "Inter Display";
    src: url("https://framerusercontent.com/assets/qITWJ2WdG0wrgQPDb8lvnYnTXDg.woff2");
    font-display: swap;
    font-style: normal;
    font-weight: 700;
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2070, U+2074-207E, U+2080-208E, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD
}

@font-face {
    font-family: "Inter Display";
    src: url("https://framerusercontent.com/assets/qctQFoJqJ9aIbRSIp0AhCQpFxn8.woff2");
    font-display: swap;
    font-style: normal;
    font-weight: 700;
    unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB
}